.circle{
  display:inline-block;
   background:black;
    width: 200px;
    border-radius: 150px;
    height:200px;
    position:relative;
    //-webkit-transform: rotate(80deg);
}
.pointer{
  width:10px;
  height:100px;
  position:absolute;
  background:green;
  top:100px;
  left:95px;

}
.faderHoriz{
  display:inline-block;
  width:200px;
  height:100px;
  position:relative;
  background:black;
  margin:50px;
}
.grooveHoriz{
  width:160px;
  height:10px;
  position:absolute;
  background:green;
  top:45px;
  left:20px;
}
.faderVert{
  display:inline-block;
  width:40px;
  height:200px;
  position:relative;
  background:black;
  margin:50px;

}
.grooveVert{
  width:10px;
  height:160px;
  position:absolute;
  background:green;
  top:20px;
  left:15px;
}
.capHoriz{
  width:40px;
  height:100px;
  position:absolute;
  background:red;
}
.capVert{
  width:40px;
  height:30px;
  position:absolute;
  background:red;
}
